<p style="color: green"><%= notice %></p>

<h1>To Do list</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
      <%= link_to "Edit this list", edit_list_path(list) %> 
       <%= link_to "Delete this list", list, method: :delete %> 
    </p>
  <% end %>
</div>

<%= link_to "Add new list item", new_list_path %>
