<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit To Do", edit_list_path(@list), class: "btn btn-outline-success" %> |
  <%= link_to "Back to Task lists", lists_path, class: "btn btn-outline-success" %>



  <%= button_to "Destroy this list", @list, method: :delete, class: "btn btn-outline-primary" %>
</div>
